<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Basic HTML</title>
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <script type = "text/javascript" src="../scripts/assign3.js"></script>
    </head>
    <body>
        <header>
            <ul>
                <li><a href = "assign3.html">Home</a></li>
                <li><a href = "events.html">Events</a></li>
                <li><a href = "rankings.html">Rankings</a></li>
                <li><a href = "lessons.html">Lessons</a></li>
            </ul>
            
            
            <p class="bann">
                <img src="../src/cue%20and%20title.png" alt="sample image located externally on a public page" height="125" width="100%">
            </p>
        </header>
        
        <img src="../src/BUBC%20LOGO.png" id="slide" width="400" height="300">
    
        <img src="../src/oneball.gif" alt="oneball" height = "55" width = "54" id = "one" class = "balls" , usemap = "#mymap">
        <img src="../src/cueball.gif" alt="oneball" height = "51" width = "52" id = "cue" class = "balls">
        <img src="../src/twoball.gif" alt="oneball" height = "55" width = "54" id = "two" class = "balls">
        <img src="../src/threeball.gif" alt="oneball" height = "55" width = "54" id = "three" class = "balls">
        <img src="../src/fiveball.gif" alt="oneball" height = "55" width = "54" id = "five" class = "balls">
        <img src="../src/sixball.gif" alt="oneball" height = "55" width = "54" id = "six" class = "balls">
        <img src="../src/sevenball.gif" alt="oneball" height = "55" width = "54" id = "seven" class = "balls">
        <img src="../src/eightball.gif" alt="oneball" height = "55" width = "54" id = "eight" class = "balls">
        <img src="../src/nineball.gif" alt="oneball" height = "55" width = "54" id = "nine" class = "balls">
            
        <map name="mymap" id="mapid">
            <area shape="rect" coords="0,0,60,60" title="Billiards Wiki" alt="Man Page" href="https://en.wikipedia.org/wiki/billiards">
        </map>
        
        <p class = "aboutus">
            We are the Boston University Billiards Club! We look to bring together <br>
            everyone and anyone who loves to play the difficult and strategic<br>
            game of pool. During the week we play in BU Central, in the basement<br>
            of GSU. We have scheduled meetings on Fridays or Saturdays. On Fridays<br>
            we meet from 3pm - 6pm at BU Central, and on Saturdays we reserve<br>
            tables at <a href = "http://jilliansboston.com/">Jillian's Lucky Strike </a>
        </p>
        <script>
            window.onload = playSlides();
        </script>
    </body>
    
    <footer>
        <p><a class = "foot" href="https://www.facebook.com/groups/bubilliards/?fref=nf">Boston University Billiards Club</a><br>
        <a class = "foot" href="http://www.bu.edu/">Go Terriers!</a></p>
    </footer>
</html>


