.title{
    left: 33%;
}

ol{
    position:fixed;
    margin: 0;
    padding: 0;
    top:50%;
    left:43%;
    height: 30%;
    width: 30%;
    color:white;
    text-align: left;
    list-style-type: none;
}

.rankli{
    top:0px;
    margin-left: 0px;
    margin-right: 0px;
    display: list-item;
    background-color: transparent;
    border-style: none;
    border-width:2px;
    color: white;
    padding: 10px;
    font-size: 20px;
}

#oneli{
    background: url(../src/oneball.gif);
    background-size:contain;
    background-repeat: no-repeat;
    padding-left: 75px;
}


#twoli{
    background: url(../src/twoball.gif);
    background-size:contain;
    background-repeat: no-repeat;
    padding-left: 75px;
}

#threeli{
    background: url(../src/threeball.gif);
    background-size:contain;
    background-repeat: no-repeat;
    padding-left: 75px;
    
}