/* This CSS Document is attached to a HTML document named sample.html */
html{
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-image: url("http://www.cheetah3d.com/forum/attachment.php?attachmentid=5304");
    background-size:100% 80%;
    background-repeat:no-repeat;
    background-position: 0px 170px;
    background-color: black;
}

header{
    position: fixed;
    top: 0;
    padding:0;
    margin:0;
    width: 100%;
}

.bann{
    margin: 0;
    padding-top:0px;
}

.title{
    position:fixed;
    color: white;
    font-size: 175%;
    top: 40%;
    left: 30%;
}

.aboutus{
    position: fixed;
    font-size: 120%;
    top: 42%;
    left: 40%;
    
}

map{
    position:fixed;
}

area{
    width:10%;
    height:10%;
}

ul{
    position:relative;
    margin: 0;
    padding: 0;
    top:0px;
    color:black;
    text-align: center;
    background-color:black;
    list-style-type: none;
}

li {
    padding-top: 0;
    top:0px;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    background-color: darkgray;
    border-style: solid;
    border-width:2px;
    border-color:red;
    color: black;
}

.balls{
    position: fixed;
}

.balls:hover{
    
}

footer{
    display: block;
    color: black;
    position: fixed;
    top: 87%;
    left: 7%;
}


a:link{
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color:white;
}

.foot:link{
    color: black;
}

.foot:hover{
    color:white;
}

#slide{
    position: fixed;
    top: 40%;
    left: 8%;
}

#one{
    top:30%;
    left: 15%;
}
#cue{
    top:30%;
    left: 55%;
}
#two{
    top:83%;
    left: 30%;
}
#three{
    top:35%;
    left: 70%;
}
#five{
    top: 80%;
    left: 5%;
}
#six{
    top:80%;
    left: 85%;
}
#seven{
    top:78%;
    left: 50%;
}
#eight{
    top:30%;
    left: 85%;
}
#nine{
    top:83%;
    left: 55%;
}